.articulos-principales {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.articulo-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 1%;
    box-shadow: 0 2px 5px var(--verde-claro);
}


.articulo-item img {
    height: 250px;
    margin: 10px;
    width: 250px;
}

.articulo-item a{
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}