<!DOCTYPE html>
<html lang="es">
<%- include("partials/head")  %>
<link rel="stylesheet" href="/css/about.css">
    

<body>
<%- include("partials/header") %>

  <h1>Equipo</h1>

  <h2>Matias Juan Jose Perez Cisneros - El Visionario</h2>
  <p>
    Mati es la mente creativa detrás del proyecto. Con una sólida formación en diseño y una pasión por la sostenibilidad, se encarga de dar forma a la visión del negocio y garantizar que todos los aspectos de la empresa reflejen los valores ecológicos y la estética fresca y verde que desean transmitir.
  </p>

  <h2>Melisa - La Experta en Agricultura</h2>
  <p>
    Meli es la experta en agroinsumos del equipo. Con una larga trayectoria en la industria agrícola y un conocimiento profundo de los insumos y tecnologías más actuales, es la responsable de asegurarse de que los productos que ofrecen sean de la más alta calidad y cumplan con las necesidades de los agricultores en Santiago del Estero.
  </p>

  <h2>Leandro Cortez - El Experto en Logística</h2>
  <p>
    Lean es el maestro de la logística en el equipo. Con una amplia experiencia en la gestión de cadenas de suministro, se asegura de que los insumos lleguen a los clientes de manera oportuna y eficiente. Su enfoque en la eficiencia y la puntualidad es esencial para el éxito del negocio.
  </p>

  <h2>Lorena Gomez - La Responsable de Finanzas</h2>
  <p>
    Lore es la mente financiera detrás del proyecto. Con una sólida formación en finanzas y una habilidad innata para la gestión de recursos, se asegura de que el negocio sea sostenible desde el punto de vista financiero. Su capacidad para equilibrar presupuestos y tomar decisiones financieras estratégicas es fundamental para el crecimiento del negocio.
  </p>

  <h2>Juan Gabriel Fernandez - Especialista en Control de Calidad</h2>
  <p>
    Francy se encarga de controlar la calidad de los productos para que cumplan con los estándares de calidad y seguridad. Realiza pruebas y análisis rigurosos para verificar la eficacia y la pureza de los productos. Además, implementa procedimientos de control de calidad en toda la cadena de suministro, desde la adquisición hasta la entrega.
  </p>

  <%- include("partials/footer") %>
</body>
</html>
