<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")  %>
    <link rel="stylesheet" href="./css/carritoDeCompras.css">
   
<body>
    <%- include("partials/header") %>

    <!-- Contenido del carrito de compras -->
    <main>
        <!-- Tabla que muestra los productos en el carrito -->
        <div class="shop">
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ejemplo de un producto en el carrito -->
                    <tr>
                        <td>
                            <img class="producto" src="https://previews.123rf.com/images/setory/setory1901/setory190100049/126340532-icono-de-fertilizante-vectorial-para-centro-de-jardiner%C3%ADa-de-productos-de-dise%C3%B1o-y-jardiner%C3%ADa.jpg" alt="Fertilizante" class="product-image">
                           <p>Fertilizante</p>
                        </td>
                        <td>$20.00</td>
                        <td>
                            <input type="number" value="1" min="1">
                        </td>
                        <td>
                            <button class="btn-delete">Eliminar</button>
                        </td>
                    </tr>
    
                    <!-- Otro producto en el carrito -->
                    <tr>
                        <td>
                            <img class="producto" src="https://w7.pngwing.com/pngs/684/649/png-transparent-herbicide-glyphosate-weed-control-lawn-killer-price-root-pest-control-lawn.png" alt="Producto 2" class="product-image">
                            <p>Herbicida</p>
                        </td>
                        <td>$30.00</td>
                        <td>
                            <input type="number" value="2" min="1">
                        </td>
                        <td>
                            <button class="btn-delete">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Resumen del carrito -->
            <div class="cart-summary">
                <h2>Resumen del Carrito</h2>
                <div class="total">
                    <span>Total:</span>
                    <span>$50.00</span>
                </div>
                <div class="checkout">
                    <button>Realizar Compra</button>
                </div>
            </div>
        </div>
        

        
    </main>

    <%- include("partials/footer") %>
</body>
</html>
