<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head")  %>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/css/404.css">

<body>
    <img src="/images/404 ERROR.png" alt="Error 404">
    <h1>Vuelve a un lugar seguro    </h1>
    <a href="/">Puedes seguir realizando tus compras aqui.</a>
    <br>
    <br>
</body>

<%- include("partials/footer") %>

</html>