<!DOCTYPE html>
<html>
  <%- include("partials/head")  %>
    <link rel="stylesheet" href="./css/register.css">
<body>
<%- include("partials/header") %>
  <div class="singin-container">
    <h1>Registro Purum: </h1>
    <form class="formlog">
      <h2></h2>
      <input type="text" placeholder="Nombre completo" />
      <input type="text" placeholder="Usuario" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Contraseña" />
      <input type="password" placeholder="Repite tu contraseña" />
      
      <input class="btn" type="submit" value="Registrarme">
    </form>
    <br>
    <a href="http://localhost:4000/login"> Ya tienes cuenta?</a>
  </div>

  <%- include("partials/footer") %>





</body>
</html>