<footer>
    <div class="footer-content">
        <div class="footer-section-img">
            <img src="/images/purumredondo.png" alt="">
        </div>

        <div class="footer-section-info">
            <!-- <p>ESTE ES UN FOOTER PARAMETRIZADO</p> -->
            <p>Te ofrecemos una amplia gama de agroinsumos para profesionales de la agricultura 
                y entusiastas del cultivo, ecoligia y de la auto-sustentabilidad.</p>
        </div>
            
        <div class="footer-section-contact">
            <span><i class="fas fa-phone"></i> &nbsp;123-456-789</span>
            <span><i class="fas fa-envelope"></i> &nbsp;Purum@gmail.com</span>
        </div>
        
        <div class="footer-section-socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>