<header>
    <!-- <p>headerparametrizado</p> -->
    <div class="top-header">
        <div class="logo">
            <img src="/images/purumredondo.png" alt="Logo" class="img-logo">
        </div>

        <div class="burger-menu">
            <nav class="menu" id="menu">
                <ul>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/products">PRODUCTOS</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/products/create">NUEVO</a></li>
                    <li><a href="/users">Usuarios</a></li>
                    <li><a href="/users/login" class="link"><i class="fa-solid fa-right-to-bracket" alt="ingresar"></i></a></li>
                    <li><a href="/users/register" class="link"><i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="/carritoDeCompras" class="link"><i class="fa-solid fa-cart-shopping"></i></a></li>
                
                </ul>
            </nav>
        </div>
    </div>
    <div class="search">
        <form action="/search" method="GET" class="search-form">
            <input type="text" placeholder="Buscar Prodcutos" name="keywords">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>